<h1>Coachella Lineup</h1>

<p>The lineup for Coachella 2015</p>

<ul>
  <% @artists.each do |artist| %>
    <li>
      <b><%= artist.name %></b> is performing on the <%= artist.stage %>
      <%= image_tag artist.image_url, size: '50x50' %>
    </li>
  <% end %>
</ul>